<p id="notice"><%= notice %></p>

<h1>Student App Cat 217127274s</h1>

<table>
  <thead>
    <tr>
      <th>Registrationnumber</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_app_cat_217127274s.each do |student_app_cat_217127274| %>
      <tr>
        <td><%= student_app_cat_217127274.registrationnumber %></td>
        <td><%= student_app_cat_217127274.firstname %></td>
        <td><%= student_app_cat_217127274.lastname %></td>
        <td><%= link_to 'Show', student_app_cat_217127274 %></td>
        <td><%= link_to 'Edit', edit_student_app_cat_217127274_path(student_app_cat_217127274) %></td>
        <td><%= link_to 'Destroy', student_app_cat_217127274, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student App Cat 217127274', new_student_app_cat_217127274_path %>
