<p id="notice"><%= notice %></p>

<p>
  <strong>Registrationnumber:</strong>
  <%= @student_app_cat_217127274.registrationnumber %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student_app_cat_217127274.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student_app_cat_217127274.lastname %>
</p>

<%= link_to 'Edit', edit_student_app_cat_217127274_path(@student_app_cat_217127274) %> |
<%= link_to 'Back', student_app_cat_217127274s_path %>
